/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Global styles */
  body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar styles */
  .navbar {
    
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav {
    font-size: 18px;
  }
  
  .nav-link {
    color: #e00202 !important;
    margin-right: 20px;
  }
  
  /* Main banner styles */
  .bgimage {
    background-image: url('heroImage.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
;
    
  .hero_title {
    font-size: 46px;
    font-weight: bolder;
    margin-bottom: 30px;
  }
  
  .hero_desc {
    font-size: 24px;
  }
  
  /* About section styles */
  #about {
    background-color: #ffffff;
    padding: 50px 0;
  }
  
  .imageAboutPage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Achievements section styles */
  #achivements {
    background-color: #ffffff;
    padding: 50px 0;
  }
  
  /* Projects section styles */
  #Project {
    background-color: #ffffff;
    padding: 50px 0;
  }
  
  /* Contact section styles */
  #contact {
    background-color: #ffffff;
    padding: 50px 0;
  }
  
  .contactContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .googlemaps-html {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  /* Footer styles */
  #footer {
    background-color: #666666;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .social-icons a {
    color: #ff0000;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-toggler {
      color: #993636;
    }
  
    .navbar-toggler-icon {
      background-color: #fff;
    }
  
    .navbar-collapse {
      background-color: #820000;
    }
  
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin: 10px 0;
    }
  
    .bgimage {
      padding: 50px 0;
    }
  }
  